@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green: #9fbfb9;
    --pink: #f2a7de;
    --dark-blue: #4e4f5e;
    --black: #161722;
    --grey: #707070;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../images/backgroundtest.png);
    background-size: 180vh;
}

/* Global Text Styling */

h2 {
    font-weight: 700;
    color: var(--black);
}

.subtxt {
    font-weight: 600;
    font-style: italic;
    color: var(--dark-blue);
}

/* Header Styling */

header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    border-bottom-style: solid;
    border-color: var(--pink);
}

.page {
    position: absolute;
    left: 41.5%;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-top: 61px;
    color: var(--black);
    width: 77px;
}

.demb {
    position: absolute;
    height: 40px;
    width: 40px;
    padding-top: 55px;
    padding-left: 30px;
}



/* Mobile Menu */
.topnav {
    /* This is for desktop */
    display: none 
}

.bar {
    position: absolute;
    right: 0;
    padding-top: 60px;
    padding-right: 30px;
    font-size: 24px;
    color: var(--black);
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align:left;
    background-color: var(--white);
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: var(--black);
    display: block;
    transition: 0.3s;
  
  }

  .sidenav a .logo {
      padding: 0;
  }

  .sidenav .menu {
    margin-top: 132px;
  }

  .sidenav .menu .item {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      padding: 33px 0 33px 0;
      border-top-style: solid;
      border-color: var(--pink);
      font-weight: 600;
      font-size: 36px;
      color: var(--dark-blue);
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    right: 0;
    font-size: 24px;
    padding-top: 60px;
    padding-right: 30px;
    color: var(--black);
  }


/* Idea Section */

.idea {
    margin-top: 123px;
}

.idea h2 {
    padding: 50px 0px 10px 50px;
}

.idea p {
    padding-left: 48px;
    padding-bottom: 10px;
}

.idea button {
    margin-left: 50px;
    background-color: var(--green);
    border: none;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    height: 40px;
    width: 150px;
}

.idea button:hover {
    background-color: #b6dad3;
}

/* Experience & skills Section */

.skills {
    margin-top: 100px;
}

.skills h2 {
    padding-left: 50px;
    padding-bottom: 20px;
}

.skills img {
    width: 10px;
    height: 20px;
}

.experience {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.exp {
    display: flex;
    flex-direction: row;
    padding-left: 48px;
    padding-bottom: 10px;
}

.exp p {
    padding-left: 10px;
}



/* Footer Area */

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}

.socials {
    height: 35px;
}

.socials a{
    height: 35px;
    width: 35px;
    padding-left: 13px;
    padding-right: 13px;
    text-decoration: none;
}